@model CampaignDetailVM


<section>
    <div class="container">
        <div class="row">
            @foreach (HandHeld handHeld in Model.HandHelds)
            {
                <div class="col-lg-5">
                    <img src="~/images/@handHeld.Image" alt="">
                </div>
                <div class="col-lg-7">
                    <h1>
                        @handHeld.Title
                    </h1>
                    <h3>
                        @handHeld.SubTitle
                    </h3>
                    <p>
                        @handHeld.Desc
                    </p>
                   

                    <a class="fb-xfbml-parse-ignore" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https://www.papajohns.az/az/stocks/stocks/description?slug=birthday-discount.&amp;src=sdkpreparse">Paylaş</a>
                </div>
            }

        </div>
    </div>
</section>