@model EleBeleVM

    <section>
        <div class="tabs-container">
            <ul class="tabs">
                @foreach (Elebele elebele in Model.Elebeles)
                {
                    <li class="active">
                        <a href="#">@elebele.Title</a>
                    </li>

                }

            </ul>
            <div class="tabs-content">

                <div class="tabs-panel active" data-index="0">
                    <h1>papa john's</h1>
                    <h3>
                        daha yaxşı inqrediyentlər. daha yaxşı pizza.
                    </h3>
                    <p>
                        1984 cü ildə “papa john's” öz qapılarını bu məqsədi hədəf alaraq açdı: daha dadlı pizza. biz
                        bilirdik ki, tərkib hissələrini (inqrediyentləri) daha keyfiyyətli etməklə, daha dadlı pizza
                        əldə edəcəyik. “daha keyfiyyətli tərkib hissələrindən (inqrediyentlərdən) ibarət daha dadlı
                        pizza.” həmin məqsədimiz və həmin vədimiz bu gün də aktualdır.
                    </p>
                    <p>
                        təməl inancımız çox sadədir: işçilərin qayğısına qalmaq və işlərini görməsi üçün onları ən
                        yaxşı vasitələrlə təmin etməkdir, bu zaman daha yüksək keyfiyyətə malik pizza əldə etmək
                        mümkündür. bizi bu işi görməyə şövq edən amil də budur və elə bu səbəbdən daha keyfiyyətli
                        pizza çatdırmaq və daha üstün xidmət göstərmək üçün bu sənayedə bir çox digər şirkətlərdən
                        daha çox vəsait sərf edirik.
                    </p>
                    <p>
                        bizim məhsullarımızın tərkib hissələri (inqrediyentləri) haqqında nə qədər çox bilirsinizsə,
                        pizza seçiminiz barədə bir o qədər çox məlumatlı olacaqsınız. tərkib hissələri
                        (inqrediyentlər) haqqında hər hansı bir sualınız varsa, bizimlə telefon vasitəsi ilə (*7272)
                        və ya sosial mediadakı rəsmi səhifələrimizdə əlaqə saxlaya bilərsiniz.
                    </p>
                    <h3>
                        keyfiyyət təməlinin qurulması
                    </h3>
                    <p>
                        uğurun sirri, daha dadlı bir pizza hazırlamağın sirrinə bənzəyir - nə qədər çox əlavə
                        edirsən, bir o qədər dadlı nəticə əldə edirsən. pizza ailəmiz, 30 il əvvəl qapılarımızı
                        müştərilərimizə açdığımız ilk vaxtlardakı kimi bu gün də kamillik şövqündədir. yeni
                        məhsullar və reseptlər hazırlamaqda yaxşıların ən yaxşısı olmağa çalışırıq.
                    </p>
                    <h3>
                        keyfiyyət bizim əsas amilimizdir
                    </h3>
                    <p>
                        bu təməl, ındiana ştatının jeffersonvil şəhərinin bir süpürgə kabinetində hazırlanan ilk
                        “papa john’s” pizza ilə başladığımız, daha sonra dünyanın 45 ölkəsi və 5000 dən çox
                        ərazisinə yayılan təməldir.
                    </p>
                    <p>
                        ucuz və daha çox işlənmiş tərkib hissələrindən (inqrediyentlərdən) istifadə etmirik. özümüzə
                        məxsus sousumuz, müxtəlif çeşiddə qatqılarımız, təbii təzə xəmirimiz, hətta xüsusi
                        qutularımızın olmasına rəğmən, sizə hər zaman yüksək keyfiyyətli pizza təqdim etməyimiz üçün
                        məhsullarımıza sərmayə qoyuruq.
                    </p>
                    <p>
                        sizin üçün bu yalnız daha yaxşı pizza demək deyil. bu eyni zamanda, ailə yığıncağı, unudulmaz
                        ad günləri, işdə mühüm hadisələrin qeyd edilməsi və ya sadəcə olaraq, dadlı bir yemək
                        deməkdir. bizim əsas məqsədimiz sizi hər bir xoş hadisə üçün ən yaxşı məhsullarımızla təmin
                        edəcəyimizdən əmin olmaqdır.
                    </p>
                    <h3>
                        biz buna necə nail oluruq?
                    </h3>
                    <p>
                        əsas məqsədə doğru diqqətimizi yönəldərək “papa john’s”un yüksək keyfiyyətli, ənənəvi
                        pizzasını çatdıracağıq.
                    </p>
                    <h3>məsuliyyət</h3>
                    <p>
                        biz nəzərdə tutduğumuz işlərimizi nəzərdə tutduğumuz zamanda həyata keçiririk. özümüzə,
                        müştərilərimizə və işgüzar tərəfdaşlarımıza qarşı məsuliyyətli olmaqla başqalarını daha
                        yüksək səviyyədə məsuliyyətə cəlb etmək hüququna malikik.
                    </p>
                    <h3>
                        üstünlük
                    </h3>
                    <p>
                        bizim müştəri məmnunluğumuz ardıcıl, ölçülə bilən və nümunəvi olmalıdır. biz “papa john’s”da
                        mükəmməlliyə - gördüyümüz hər bir işin “ aid olduğu təsnifatda yaxşıların ən yaxşısı”
                        olacağını inanırıq.
                    </p>
                    <h3>
                        .p. a. p. a. (people are priority always)
                    </h3>
                    <p>
                        insanlar həmişə prioritetdədir. bizim uğurumuz məqsədlərimizə və komanda kimi
                        gözləntilərimizə nail olmaq üçün birlikdə işləmək qabiliyyətimizdən asılıdır.
                    </p>
                    <h3>
                        yanaşma tərzimiz
                    </h3>
                    <p>
                        əgər siz bir tapşırığı bacara biləcəyinizi və ya bacara bilməyəcəyinizi düşünürsünüzsə - hər
                        iki halda haqlısınız! sədəcə qalib gələnlər ilə məğlub olanlar arasındakı fərq müsbət
                        psixoloji yanaşmadır.
                        bizim yanaşma tərzimiz bizim dəyərlərimizin əksidir: uğurlu komanda üzvləri səliqəli, fəal
                        və etdikləri hər şeyə həvəsli olmalıdırlar.
                    </p>
                    <h3>
                        daimi inkişaf
                    </h3>
                    <p>
                        biz öncəki uğurlarımızla kifayətlənməyi düşünmürük. hər zaman qarşımıza daha yüksək hədəflər
                        qoyuruq. nə qədər uğurlu olmağımızdan asılı olmayaraq, hər zaman daha yaxşı olacağıq.
                    </p>
                </div>
                <div class="tabs-panel" data-index="1">
                    <h1>
                        daha yaxşı inqrediyentlər. daha yaxşı pizza
                    </h1>
                    <img src="images/yunan.jpg" alt="">
                    <p>
                        uğur qazanmağın sirri ən yaxşı pizza bişirməkdən ibarətdir - buna nə qədər əmək sərf etsən
                        bir o, qədər gözəl nəticə əldə edəcəksən. hazırda biz mükəmməlliyə 30 il öncə qapılarımızı
                        ilk dəfə açdığımız zamanlardakı kimi can atırıq. yeni innovativ məhsullar və reseptlər
                        təqdim edərək biz ən yaxşılardan olmaq istəyirik.
                    </p>
                    <p>
                        hər zaman sizə yüksək keyfiyyətli pizza təqdim etmək üçün sousa, inqrediyentlərə və orijinal
                        təzə xəmirə fərq qoymadan biz inqrediyentlərinin keyfiyyətli olması üçün sərmayələr edirik.
                    </p>
                    <p>
                        sizin üçün bu sadəcə daha yaxşı pizza deyil, ailənin bir yerə toplaşması, yadda qalan ad
                        günü, işdə tədbir və ya sadəcə dadlı bir yeməkdir. bizim hədəfimiz hər bir tədbirdə sizə ən
                        yaxşı inqrediyentlərinin təqdim edilməsi barədə sizi əmin etməkdir.
                    </p>

                </div>
                <div class="tabs-panel" data-index="2">
                    <h1>
                        papa john's azərbaycanda
                    </h1>
                    <img src="images/yunan.jpg" alt="">
                    <p>
                        2012-ci ildə “ən yaxşı pizza” qayəsini rəhbər tutaraq papa john’s azərbaycanda öz restoranını
                        açdı. bilirik ki, ən yaxşı inqrediyentlərdən istifadə edərək dünyanın hər bir yerində
                        mükəmməl pizzalar təqdim edəcəyik. bu günə qədər “daha yaxşı inqrediyentlər. daha yaxşı
                        pizza.” şüarını və hədəfini rəhbər tutmuşuq.
                    </p>
                    <p>
                        “papa john's azərbaycan” orlando, florida ştatında keçirilmiş illik beynəlxalq “papa john's”
                        konfransında 30 ölkə arasından “2013-cü ilin ən yaxşı franşıza alan tərəfi” elan edilmişdir.
                    </p>
                    <p>
                        2015-ci ildə “papa john's azərbaycan” beynəlxalq keyfiyyətə nəzarət mərkəzinin “əsas
                        dəyərlər” mükafatını almışdır.
                    </p>
                    <p>
                        hazırda bizim şirkət azərbaycanda 9 restorana qədər genişlənmişdir. biz uğurumuzla qürür
                        duyuruq, lakin uğuru qazanmaq üçün keçdiyimiz yoldan daha çox qürur duyuruq. keyfiyyətə və
                        işçilərimizə qayğıya hədəflənərək inkişafa davam edirik. 2013-cü ildə ən yaxşı franşıza alan
                        tərəf, 2015-ci ildə keyfiyyətə nəzarət mərkəzinin ən yaxşı mükafatlarına layiq görülmək
                        yaxşıdır, lakin ən önəmlisi etməli olduğumuz işlə “ən yaxşı pizza təqdim etməklə”
                        müştəriləmiz tərəfindən qəbul edilməkdir.
                    </p>
                    <p>
                        biz fəxr edirik ki, sevdiyimiz işlə - daha yaxşı pizza hazırlamaqla məsğul olaraq hörmət
                        qazanmışıq.
                    </p>
                </div>
                <div class="tabs-panel" data-index="3">
                    <h1>çatdırılma</h1>
                    <p>
                        əziz dostlar, sizin diqqətinizə çatdırırıq:
                    </p>
                    <ol>
                        <li>
                            biz sizin sifarişinizi pulsuz çatdırırıq.
                            pizzanın çatdırılması praktiki olaraq gün boyunca– hər gün səhər saat 6-ya qədər,
                            fasiləsiz
                            və istirahət günləri olmadan həyata keçirilir.
                            biz pizzanı bizim çatdırılma zonasından kənarda çatdırmırıq, çünki papa john’s
                            standartlarına görə sizə isti və təzə pizzanı çatdırmaq üçün restorandan son
                            istehlakçıya
                            kimi müvafiq məsafə limitini keçə bilmərik.
                            sifarişin minimal məbləği – 10 azn.
                            ödəniş onlayn rejimində həm ödəniş kartı, həm də kuryerə nəğd pulla və ya ödəniş kartı
                            vasitəsi ilə həyata keçirilir.
                        </li>
                    </ol>

                    <p>
                        siz aşağıdakı xəritə üzrə bizim çatdırılma zonası ilə tanış ola bilərsiniz.
                    </p>
                    <div style="width: 100%">
                        <iframe width="100%" height="600" frameborder="0" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=papa%20johns+(my%20business%20name)&amp;t=&amp;z=14&amp;ie=utf8&amp;iwloc=b&amp;output=embed">
                            <a href="https://www.gps.ie/car-satnav-gps/">best sat navs</a>
                        </iframe>
                    </div>
                </div>
                <div class="tabs-panel" data-index="4">
                    <h1>ınqrediyentlər</h1>
                    <img src="images/xemir - 1378x400.jpg" alt="">
                    <p>
                        əgər sizin hazırladığınız xəmir keyfiyyətli deyilsə pizzanın üzərinə əlavə etdiyiniz
                        inqrediyentlərin yüksək keyfiyyəti bir anlam kəsb etməyəcək və siz sonda mükəmməl bir pizza
                        almayacaqsınız. məhz buna görə də orijinal xəmir papa john’s mətbəxində sıfırdan hazırlanır
                        və sonra şəhərin bütün restoranlarına təzə göndərilir və buna görə də papa john`s-un yüksək
                        keyfiyyətli pizzasının resepti yetəri qədər sadədir-bu bizim uğurumuzun əsasıdır!

                        xəmirimizi yalnız yüksək keyfiyyətli inqrediyentlərdən hazırlayırıq, buraya yüksək
                        keyfiyyətli zülal, ağardılmamış buğda unu, saflaşdırılmış su, maya, zeytun yağı və duz
                        daxildir. hədəfimiz, 30 ol bundan qabaq con şnatterin arxa otaqda hazırladığı kimi, həm
                        orijinal və həm də yüksək keyfiyyətli xəmir hazırlamaqdır - sadə və hamar, sadəcə ləzzətli.

                        orijinal xəmirimiz anbardan restoranlara təzə vəziyyətdə gətirilir. bizim xüsusi, yüksək
                        zülallı, ağardılmamış buğda unu və saflaşdırılmış sudan hazırlanmış orijinal papa john`s
                        pizza xəmiri unikal dad, çeynəmə asanlığı və xırçıltı balansına malikdir.
                    </p>
                    <h3>
                        inqrediyentlərimiz
                    </h3>
                    <p>
                        mükəmməl pizza hazırlamaq üçün nələr tələb olunur? papa john`s olaraq biz bilirik ki,
                        mükəmməl pizza reseptinin böyük bir qismini insanlar, xidmətimiz, mükəmməl pizza hazırlığı
                        sahəsində təcrübə tutur.

                        lakin bizim ləzzətli xəmirə əlavə eydiyimiz dadlı, təzə, təsəvvür edilməyəcək dərəcədə ləziz
                        inqrediyentlər də eyni dərəcədə əhəmiyyətlidir.
                    </p>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem; ">
                                    <img src="images/grilled-chicken.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            qril toyuq
                                        </h5>
                                        <p class="card-text">
                                            zəngin və kömür ətirli şirəli döş əti. bizim bütün
                                            toyuq
                                            məhsullarımız halaldır, onların tərkibində süni dadlandırıcılar, boyalar
                                            və ya
                                            qoruyucu vasitələr yoxdur.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/ıtalian-beef-sausage.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            mal əti
                                        </h5>
                                        <p class="card-text">
                                            biz pizzalarımızda yalnız təbii, yüksək keyfiyyətli
                                            ətlərdən
                                            hazırlanır. mal əti və italyan sosisləri halaldır, onlar təbii mal
                                            ətidir,
                                            tərkibində qatqı və ətirləndirici maddələrdən istifadə olunmamışdır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/pepperoni.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">pepperoni</h5>
                                        <p class="card-text">
                                            100%-lik halal, doğranmış və xırçıldayacaq qədər
                                            mükəmməl
                                            hazırlanan pepperoni xəfif və acılı dada malikdir.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/tomato.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            təzə pomidorlar
                                        </h5>
                                        <p class="card-text">
                                            hər gün bizim mətbəximizdə şirəli təzə pomidorlar pizza
                                            mütəxəssislərimiz tərəfindən doğranılır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/greenpepper.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            yaşıl bibər
                                        </h5>
                                        <p class="card-text">
                                            inanılmaz ətirli dada malik, şirəli yaşıl bibər
                                            dilimləri.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/mushroom.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            şampinyon göbələkləri
                                        </h5>
                                        <p class="card-text">
                                            ağ papaqlı, möhkəm teksturalı, təzə göbəklər.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/black-olive.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            qara zeytun
                                        </h5>
                                        <p class="card-text">
                                            bizim zeytunlarımız yüksək keyfiyyətli və cəlbedici,
                                            herrera
                                            meşələrindən toplanmış zeytunlardır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/sweetcorn.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">qarğıdalı</h5>
                                        <p class="card-text">
                                            biz yüksək keyfiyyətli, şirin və ətirli qarğıdalıdan
                                            istifadə
                                            edirik.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/jalapeno.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            halapenyo bibəri
                                        </h5>
                                        <p class="card-text">
                                            100% təbii halapenyo bibərləri təzə şəkildə dilimlərə
                                            doğranılır və
                                            sarıköklə bərabər ədviyyatlı duzlu suyu əlavə olunaraq qablaşdırılır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/mozzarella.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            mozzarella
                                        </h5>
                                        <p class="card-text">
                                            əgər siz pendir sevənsinizsə, siz bizim mozzarella
                                            pendirimizi də
                                            sevəcəksiniz. bu papa john`s-un eksklyuziv pendiridir, 100%-lik
                                            mozzarella yüksək
                                            keyfiyyətli südündən hazırlanır. yüngül və zərifdir, ətirlidir, “pizzanı
                                            həqiqətən
                                            pendir yaradır” fikrini təsdiqləyir!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/feta-cheese.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            feta pendiri
                                        </h5>
                                        <p class="card-text">
                                            bu dadlı, duzlu, hissələrə ayrılan ağ pendir yunan
                                            bayramlarının
                                            xatirələrini oyadacaqdır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="images/ıtalian-beef-sausage.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            pizza sousu
                                        </h5>
                                        <p class="card-text">
                                            bizim pomidorlarımız mərkəzi kaliforniya vadisinin
                                            zəngin,
                                            məhsuldar fermalarında diqqətlə yetişdirilir, səkkiz saat ərzində
                                            sahədən dərilərək
                                            təzə vəziyyətdə qablaşdırılır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tabs-panel" data-index="5">
                    <h1>tarix</h1>
                    <img src="images/the-mexican.jpg" alt="">
                    <p>
                        30 il ərzində indianada tək restorandan başlamış, 48 ölkədə müştərilərə “ən yaxşı” pizza
                        təklif edən 5000-dən artıq papa john`s restoranına qədər inkişaf etmişdir. fəaliyyətimizi
                        inkişaf etdirmək üçün hər zaman yeni ideyalar ifadə edərək irəliləməyə və inkişaf etməyə
                        çalışırıq.
                    </p>
                    <h3>
                        30 ildən artıq fəaliyyət....
                    </h3>
                    <ol>
                        <li>
                            1985 ilk papa john`s restoranı ceffersonvil, indianada açılmışdır.
                            1986 -1992 papa john`s ilk franşızanızı satmış və 100 restorana qədər inkişaf etmişdir.
                            1993-1999 papa john`s-un hərracında səhmlərin ilk ictimai təqdimatı, sıçrayışlı inkişaf
                            dövrü.
                            2001 onlayn sifarişin yaradılması
                            2006 ginesin dünya rekordu və 7 illik müştəri məmnuniyyəti reytinqi.
                            2009 papa john`s-un uzun illər itirilmiş camaro-su tapılmışdır! bu maşını tapdığına görə
                            həmən şəxsə 250,000 usd mükafat verilmişdir.
                            2010 papa john`s nfl-ın rəsmi sponsoru olmuşdur.
                            2014 biz 30 illiyimizi qeyd etmişik.
                            2020 hazırki vəziyyətimiz:
                        </li>
                    </ol>

                    <p>
                        48 ölkədə və ərazidə 5000-dan çox restoran. 2014-cü ildə “müştəri məmnuniyyəti” üzrə bizi
                        yenə birinci etdiyinizə görə sizə, dəyərli müştərilərimizə təşəkkür edirik.
                    </p>
                    <p>
                        hətta 30 il keçdikdən sonra bizi yenə birinci edən mükəmməlliyə can atmağımızdır. biz
                        inqrediyentlərinə sərmayəni davam etdirir və qayəmizi açıq-aydın bəyan edirik - daha yaxşı
                        inqrediyentlər. daha yaxşı pizza.
                    </p>
                </div>
                <div class="tabs-panel" data-index="6">
                    <h1>
                        papa talk - qayda və şərtlər
                    </h1>
                    <h4>
                        fikir bildir, 'bir illik pizza' qazan.
                    </h4>
                    <ol>
                        <li>
                            sorğuya qoşulmaqla, iştirakçılar burada göstərilən və papa john’s pizza azerbaijan-ın
                            hər
                            hansı digər tələbləri ilə tanış olduqlarını, qəbul etdiklərini və razılaşdıqlarını
                            təstiq
                            edirlər.
                        </li>
                        <li>
                            sorğuda iştirak edərkən iştirakçının suallara verdiyi cavablar yarışmanın nəticəsinə və
                            iştirakçının qalib seçilib seçilməməyinə təsir etmir. sorğunun suallarına müsbət və ya
                            mənfi
                            olmağından aslı olmayaraq, real fikirlər əks etdirən cavabların verilməsi mütləqdir.
                        </li>
                        <li>
                            yarışmada iştirak etmək üçün sifarişi verdikdən sonra, müştəri məmnuniyyəti sorğusunu
                            doldurmaq kifayətdir. sorğudan keçmək üçün pizza qutusunun və ya sifariş qəbzinin
                            üzərində
                            papa talk qr kodunu skan edin və sifariş qəbzinin üzərindəki restoran nömrəsini daxil
                            edin
                            və sorğunun suallarına cavab verin.
                        </li>
                        <li>
                            hər bir iştirakçı yalnız 30 gün fasilədən sonra yarışmaya yenidən qatıla bilər.
                        </li>
                        <li>
                            hər ayın sonunda təsadüfi kompüter seçimi nəticəsində yalnız bir seçiləcəkdir.
                        </li>
                        <li>
                            hər qazanan iştirakçı üçün mükafat - ayda bir böyük pizza hədiyyə qazandıran, on iki tək
                            pizza hədiyyə kodundan ibarətdir.
                        </li>
                        <li>
                            hədiyyə pizzanı istənilən restoranımıza yaxınlaşıb promo kodu təqdim etməklə əldə edə
                            bilərsiniz.
                        </li>
                        <li>
                            hədiyyə kodlarının hər biri yalnız bir ay müddətində etibarlı olacaqdır. 12 promo
                            kodların
                            hər biri, qalibin mükafatı aldığını təsdiqlədikdən sonra 7 gün ərzində qalibə təqdim
                            ediləcək. hər ay yalnız bir pulsuz böyük pizza əldə etmək şərtilə, 12 ay ardıcıl olaraq,
                            ümumi 12 pizzadan zövq ala bilərsiz.
                        </li>
                        <li>
                            promokodların təqdim olunduğu zamandan etibarən 14 gün ərzində qalib ilk ayın
                            promokodunu
                            istifadə etməzsə, papa john’s pizza yenidən qalib seçəcəkdir.
                        </li>
                        <li>
                            göstərilən mükafatın nağd pul və ya başqa alternativi yoxdur. mükafat nağd pul şəkilində
                            geri qaytarıla və köçürülə bilməz.
                        </li>
                        <li>
                            aksiyada iştirak zamanı çəkilən hər hansı bir xərc iştirakçının məsuliyyətidir.
                        </li>
                        <li>
                            papa john’s pizza, öz mülahizəsinə görə, aktivliyin fəaliyyətinə xələl gətirən və ya bu
                            şərtlərə zidd hesab olunan hər hansı bir şəkildə hərəkət etmək istəyən şəxsin yarışmada
                            daha
                            sonra iştirak etmək imkanından məhrum etmək hüququnu özündə saxlayır.
                        </li>
                        <li>
                            bu yarışma istənilən vaxt, əvvəlcədən xəbərdarlıq olmadan ləğv edilə və ya dəyişdirilə
                            bilər.
                        </li>
                        <li>
                            iştirakçıya məxsus hər bir şəxsi məlumat azərbaycan məlumat qorunması qanunvericiliyinə
                            uyğun olaraq işlənəcəkdir. əlavə məlumat üçün sorğunu təşkil edən şirkət ilə əlaqə
                            saxlayın.
                            əlavə məlumat üçün məxfilik siyasətimizə baxın.
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </section>