@model Campaign

<section>
    <div class="container">
        <div class="row">
                <div class="col-lg-5">
                    <img src="~/images/@Model.Image" alt="">
                </div>
                <div class="col-lg-7">
                    <h1>
                        @Model.Title
                    </h1>
                    <h3>
                        @Model.SubTitle
                    </h3>
                    <p>
                        @Model.Desc
                    </p>

                </div>

            
            
        </div>
    </div>
</section>