@model CampaignVM

<section>
    <div class="container">
        <div class="row">
            @foreach (Campaign campaign in Model.Campaign)
            {
            <div class="col-lg-3">
                <img src="~/images/@campaign.Image" alt="">
                <a asp-controller="Brithday" asp-action="Index">Ətraflı məlumat</a>
            </div>

            }

        </div>
    </div>

</section>