@model Campaign
@{
    ViewData["Title"] = "Detail";
}

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Id</li>
        <li class="list-group-item">@Model.Title</li>
        <li class="list-group-item">@Model.SubTitle</li>
        <li class="list-group-item">@Model.Desc</li>
    </ul>
</div>

