@model Desert

<div class="modal-content">


    <div class="close">
        <h6>Bağla</h6>
        <button>
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="image">
        <img src="~/images/@Model.Img" alt="">
    </div>
    <div class="modal-body">
        <h2>@Model.Basliq </h2>
    </div>
    <div class="controls">
        <div class="plus"><i class="fas fa-plus"></i></div>
        <div class="count">1</div>
        <div class="minus"><i class="fas fa-minus"></i></div>
        <div class="price">@Model.Price₼ </div>
    </div>
    <div class="modal-footer">
        <div class="basket">
            <sup>0</sup>
            <i class="fas fa-shopping-basket"></i>
        </div>
        <button class="add-basket">Səbətə at</button>
    </div>
</div>
<!--<script>
    var price = $('#total-price').text().slice(0, -1);
    var quantitiy = 1;
    $('.quantity-right-plus').click(function (e) {
        e.preventDefault();
        quantitiy++;
        $('#quantity').val(quantitiy);
        $('#total-price').text(`${+quantitiy * +price}$`);
        let url = document.querySelectorAll('.addToCart')[1].getAttribute('href');
        let urlPart = url.slice(url.indexOf('count'), url.indexOf('count') + 7);
        url = url.replace(urlPart, `count=${quantitiy}`);
        document.querySelectorAll('.addToCart')[1].setAttribute('href', url);
    });
    $('.quantity-left-minus').click(function (e) {
        e.preventDefault();
        if (quantitiy > 1) {
            quantitiy--;
            $('#quantity').val(quantitiy);
            $('#total-price').text(`${+quantitiy * +price}$`);
            let url = document.querySelectorAll('.addToCart')[1].getAttribute('href');
            let urlPart = url.slice(url.indexOf('count'), url.indexOf('count') + 7);
            url = url.replace(urlPart, `count=${quantitiy}`);
            document.querySelectorAll('.addToCart')[1].setAttribute('href', url);
        }
    });
    $('.scrollable label').on('click', function () {
        $('#total-price').text($(this).find('.price-size').text());
        price = $(this).find('.price-size').text().slice(0, -1);
    });-->
@*</script>*@