@model Desert

<div class="modal-content">


    <div class="close">
        <h6>Bağla</h6>
        <button>
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="image">
        <img src="~/images/@Model.Img" alt="">
    </div>
    <div class="modal-body">
        <h2>@Model.Basliq </h2>
    </div>
    <div class="controls">
        <div class="plus"><i class="fas fa-plus"></i></div>
        <div class="count">1</div>
        <div class="minus"><i class="fas fa-minus"></i></div>
        <div class="price">@Model.Price₼ </div>
    </div>
    <div class="modal-footer">
        <a asp-controller="desert" asp-action="addtocart" asp-route-id="@Model.Id" asp-route-count="1" class="add-basket">Səbətə at</a>
    </div>
</div>
