@inject LayoutService service;


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="img/png" href="~/images/download.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/about.css">
    <link rel="stylesheet" href="~/css/bounce.css">
    <link rel="stylesheet" href="~/css/brithday.css">
    <link rel="stylesheet" href="~/css/campaign.css">
    <link rel="stylesheet" href="~/css/classic.css">
    <link rel="stylesheet" href="~/css/cold.css">
    <link rel="stylesheet" href="~/css/desert.css">
    <link rel="stylesheet" href="~/css/drink.css">
    <link rel="stylesheet" href="~/css/faq.css">
    <link rel="stylesheet" href="~/css/handheld.css">
    <link rel="stylesheet" href="~/css/papadias.css">
    <link rel="stylesheet" href="~/css/party.css">
    <link rel="stylesheet" href="~/css/pasta.css">
    <link rel="stylesheet" href="~/css/pizza.css">
    <link rel="stylesheet" href="~/css/salat.css">
    <link rel="stylesheet" href="~/css/snack.css">
    <link rel="stylesheet" href="~/css/sous.css">
    <title>Papa Johns | Yemək siafrişi | Pulsuz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>

        <div class="header-top">
            <div class="header-list d-flex justify-content-between">
                <ul class="bigmenu">
                    <li>
                        <a asp-controller="Bounce" asp-action="Index">PapaBonus</a>
                    </li>
                </ul>

                <div class="button-container d-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p style="font-size:25px">@User.Identity.Name</p>
                        <br />
                        <a asp-controller="Account" asp-action="Logout" style="font-size: 15px;">
                            Çıxış
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Register" style="font-size: 25px;">
                            Qeydiyyat
                        </a>
                        <a asp-controller="Account" asp-action="Login" style="font-size: 25px;">
                            Giriş
                        </a>
                    }

                </div>




                <div class="header-user">
                    <div class="col-i col-i-f">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="basket-wrapper">
                                <i class="fas fa-shopping-basket"></i>
                                <span class="price">@((await service.GetBasketItems()).Count) </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Index" class="nav-logo"><img src="~/images/pj_logo_web_new.png" alt=""></a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a asp-controller="Campaign" asp-action="Index" class="nav-link">Kampaniyalar</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Papadias" asp-action="Index" class="nav-link">Papadias</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Pizza" asp-action="Index" class="nav-link">Pizza</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Snack" asp-action="Index" class="nav-link">Qəlyanaltı</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Salat" asp-action="Index" class="nav-link">Salat</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Pasta" asp-action="Index" class="nav-link">Pasta</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Drink" asp-action="Index" class="nav-link">İçki</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Desert" asp-action="Index" class="nav-link">Desert</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Sous" asp-action="Index" class="nav-link">Sous</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="promo">
            <div class="promo-wrapper">
                <p>
                    Promo kodunuz var?
                    <span>
                        Endirimdən istifadə edin!
                    </span>
                </p>
                <input type="text" class="promo-code" placeholder="Promo kodu daxil edin">
                <a href="#" class="btn btn_green js-activate-promo-code">Ok</a>
            </div>
        </section>
        @RenderBody()
    </main>
    <footer>
        <div class="container my-5">

            <footer class="text-center text-white" style="background-color: #AD0F14">
                <div class="container">
                    <section class="mt-5">
                        <div class="row text-center d-flex justify-content-center pt-5">
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a asp-controller="Category" asp-action="Index" class="text-white">Haqqımızda</a>
                                </h6>
                            </div>

                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a asp-controller="Faq" asp-action="Index" class="text-white">Sual-Cavab</a>
                                </h6>
                            </div>

                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a asp-controller="Category" asp-action="Index" class="text-white">Papa Talk - Şərtlər və Qaydalar</a>
                                </h6>
                            </div>

                        </div>
                    </section>

                    <hr class="my-5" />



                    <section class="text-center mb-5">
                        <a target="_blank" href="https://www.facebook.com/papajohns.az/" class="text-white me-4">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/azpapajohns" class="text-white me-4">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a target="_blank" href="https://www.instagram.com/azpapajohns/" class="text-white me-4">
                            <i class="fab fa-instagram"></i>
                        </a>

                    </section>
                </div>

                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                    © PJA 2021

                </div>
            </footer>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/234d1695e2.js" crossorigin="anonymous"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/about.js"></script>
    <script src="~/js/papadias.js"></script>
</body>

</html>