@model Pizza

<div class="modal-content">


    <div class="close">
        <h6>Bağla</h6>
        <button>
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="image">
        <img src="~/images/@Model.Img" alt="">
    </div>
    <div class="modal-body">
        <h2>@Model.Basliq </h2>
    </div>
    <div class="controls">
        <div class="plus"><i class="fas fa-plus"></i></div>
        <div class="count">1</div>
        <div class="minus"><i class="fas fa-minus"></i></div>
        <div class="price">@Model.Price₼ </div>
    </div>
    <div class="modal-footer">
        <div class="basket">
            <sup>0</sup>
            <i class="fas fa-shopping-basket"></i>
        </div>
        <button class="add-basket">Səbətə at</button>
    </div>
</div>