@model CategoryVM

<section>
    <div class="tabs-container">
        <ul class="tabs">
            @foreach (Category category in Model.Categories)
            {
                <li class="active">
                    <a href="#">@category.Title</a>
                </li>

            }
           
        </ul>
        <div class="tabs-content">
            
            <div class="tabs-panel active" data-index="0">
                <h1>Papa John's</h1>
                <h3>
                    Daha yaxşı inqrediyentlər. Daha yaxşı pizza.
                </h3>
                <p>
                    1984 cü ildə “Papa John's” öz qapılarını bu məqsədi hədəf alaraq açdı: Daha dadlı pizza. Biz
                    bilirdik ki, tərkib hissələrini (inqrediyentləri) daha keyfiyyətli etməklə, daha dadlı pizza
                    əldə edəcəyik. “Daha keyfiyyətli tərkib hissələrindən (inqrediyentlərdən) ibarət daha dadlı
                    pizza.” Həmin məqsədimiz və həmin vədimiz bu gün də aktualdır.
                </p>
                <p>
                    Təməl inancımız çox sadədir: işçilərin qayğısına qalmaq və işlərini görməsi üçün onları ən
                    yaxşı vasitələrlə təmin etməkdir, bu zaman daha yüksək keyfiyyətə malik pizza əldə etmək
                    mümkündür. Bizi bu işi görməyə şövq edən amil də budur və elə bu səbəbdən daha keyfiyyətli
                    pizza çatdırmaq və daha üstün xidmət göstərmək üçün bu sənayedə bir çox digər şirkətlərdən
                    daha çox vəsait sərf edirik.
                </p>
                <p>
                    Bizim məhsullarımızın tərkib hissələri (inqrediyentləri) haqqında nə qədər çox bilirsinizsə,
                    pizza seçiminiz barədə bir o qədər çox məlumatlı olacaqsınız. Tərkib hissələri
                    (inqrediyentlər) haqqında hər hansı bir sualınız varsa, bizimlə telefon vasitəsi ilə (*7272)
                    və ya sosial mediadakı rəsmi səhifələrimizdə əlaqə saxlaya bilərsiniz.
                </p>
                <h3>
                    Keyfiyyət təməlinin qurulması
                </h3>
                <p>
                    Uğurun sirri, daha dadlı bir pizza hazırlamağın sirrinə bənzəyir - nə qədər çox əlavə
                    edirsən, bir o qədər dadlı nəticə əldə edirsən. Pizza ailəmiz, 30 il əvvəl qapılarımızı
                    müştərilərimizə açdığımız ilk vaxtlardakı kimi bu gün də kamillik şövqündədir. Yeni
                    məhsullar və reseptlər hazırlamaqda yaxşıların ən yaxşısı olmağa çalışırıq.
                </p>
                <h3>
                    Keyfiyyət bizim əsas amilimizdir
                </h3>
                <p>
                    Bu təməl, Indiana ştatının Jeffersonvil şəhərinin bir süpürgə kabinetində hazırlanan ilk
                    “Papa John’s” pizza ilə başladığımız, daha sonra dünyanın 45 ölkəsi və 5000 dən çox
                    ərazisinə yayılan təməldir.
                </p>
                <p>
                    Ucuz və daha çox işlənmiş tərkib hissələrindən (inqrediyentlərdən) istifadə etmirik. Özümüzə
                    məxsus sousumuz, müxtəlif çeşiddə qatqılarımız, təbii təzə xəmirimiz, hətta xüsusi
                    qutularımızın olmasına rəğmən, sizə hər zaman yüksək keyfiyyətli pizza təqdim etməyimiz üçün
                    məhsullarımıza sərmayə qoyuruq.
                </p>
                <p>
                    Sizin üçün bu yalnız daha yaxşı pizza demək deyil. Bu eyni zamanda, ailə yığıncağı, unudulmaz
                    ad günləri, işdə mühüm hadisələrin qeyd edilməsi və ya sadəcə olaraq, dadlı bir yemək
                    deməkdir. Bizim əsas məqsədimiz sizi hər bir xoş hadisə üçün ən yaxşı məhsullarımızla təmin
                    edəcəyimizdən əmin olmaqdır.
                </p>
                <h3>
                    Biz buna necə nail oluruq?
                </h3>
                <p>
                    Əsas məqsədə doğru diqqətimizi yönəldərək “Papa John’s”un yüksək keyfiyyətli, ənənəvi
                    pizzasını çatdıracağıq.
                </p>
                <h3>Məsuliyyət</h3>
                <p>
                    Biz nəzərdə tutduğumuz işlərimizi nəzərdə tutduğumuz zamanda həyata keçiririk. Özümüzə,
                    müştərilərimizə və işgüzar tərəfdaşlarımıza qarşı məsuliyyətli olmaqla başqalarını daha
                    yüksək səviyyədə məsuliyyətə cəlb etmək hüququna malikik.
                </p>
                <h3>
                    Üstünlük
                </h3>
                <p>
                    Bizim müştəri məmnunluğumuz ardıcıl, ölçülə bilən və nümunəvi olmalıdır. Biz “Papa John’s”da
                    mükəmməlliyə - gördüyümüz hər bir işin “ aid olduğu təsnifatda yaxşıların ən yaxşısı”
                    olacağını inanırıq.
                </p>
                <h3>
                    .P. A. P. A. (People Are Priority Always)
                </h3>
                <p>
                    İnsanlar Həmişə Prioritetdədir. Bizim uğurumuz məqsədlərimizə və komanda kimi
                    gözləntilərimizə nail olmaq üçün birlikdə işləmək qabiliyyətimizdən asılıdır.
                </p>
                <h3>
                    Yanaşma tərzimiz
                </h3>
                <p>
                    Əgər siz bir tapşırığı bacara biləcəyinizi və ya bacara bilməyəcəyinizi düşünürsünüzsə - hər
                    iki halda haqlısınız! Sədəcə qalib gələnlər ilə məğlub olanlar arasındakı fərq müsbət
                    psixoloji yanaşmadır.
                    Bizim yanaşma tərzimiz bizim dəyərlərimizin əksidir: uğurlu komanda üzvləri səliqəli, fəal
                    və etdikləri hər şeyə həvəsli olmalıdırlar.
                </p>
                <h3>
                    Daimi inkişaf
                </h3>
                <p>
                    Biz öncəki uğurlarımızla kifayətlənməyi düşünmürük. Hər zaman qarşımıza daha yüksək hədəflər
                    qoyuruq. Nə qədər uğurlu olmağımızdan asılı olmayaraq, hər zaman daha yaxşı olacağıq.
                </p>
            </div>
            <div class="tabs-panel" data-index="1">
                <h1>
                    Daha yaxşı inqrediyentlər. Daha yaxşı pizza
                </h1>
                <img src="images/yunan.jpg" alt="">
                <p>
                    Uğur qazanmağın sirri ən yaxşı pizza bişirməkdən ibarətdir - buna nə qədər əmək sərf etsən
                    bir o, qədər gözəl nəticə əldə edəcəksən. Hazırda biz mükəmməlliyə 30 il öncə qapılarımızı
                    ilk dəfə açdığımız zamanlardakı kimi can atırıq. Yeni innovativ məhsullar və reseptlər
                    təqdim edərək biz ən yaxşılardan olmaq istəyirik.
                </p>
                <p>
                    Hər zaman Sizə yüksək keyfiyyətli pizza təqdim etmək üçün sousa, inqrediyentlərə və orijinal
                    təzə xəmirə fərq qoymadan biz inqrediyentlərinin keyfiyyətli olması üçün sərmayələr edirik.
                </p>
                <p>
                    Sizin üçün bu sadəcə daha yaxşı pizza deyil, ailənin bir yerə toplaşması, yadda qalan ad
                    günü, işdə tədbir və ya sadəcə dadlı bir yeməkdir. Bizim hədəfimiz hər bir tədbirdə Sizə ən
                    yaxşı inqrediyentlərinin təqdim edilməsi barədə Sizi əmin etməkdir.
                </p>

            </div>
            <div class="tabs-panel" data-index="2">
                <h1>
                    Papa John's Azərbaycanda
                </h1>
                <img src="images/yunan.jpg" alt="">
                <p>
                    2012-ci ildə “Ən yaxşı pizza” qayəsini rəhbər tutaraq Papa John’s Azərbaycanda öz restoranını
                    açdı. Bilirik ki, ən yaxşı inqrediyentlərdən istifadə edərək dünyanın hər bir yerində
                    mükəmməl pizzalar təqdim edəcəyik. Bu günə qədər “Daha yaxşı inqrediyentlər. Daha yaxşı
                    pizza.” şüarını və hədəfini rəhbər tutmuşuq.
                </p>
                <p>
                    “Papa John's Azərbaycan” Orlando, Florida ştatında keçirilmiş illik beynəlxalq “Papa John's”
                    konfransında 30 ölkə arasından “2013-cü ilin ən yaxşı franşıza alan tərəfi” elan edilmişdir.
                </p>
                <p>
                    2015-ci ildə “Papa John's Azərbaycan” Beynəlxalq Keyfiyyətə Nəzarət Mərkəzinin “Əsas
                    Dəyərlər” Mükafatını almışdır.
                </p>
                <p>
                    Hazırda bizim şirkət Azərbaycanda 9 restorana qədər genişlənmişdir. Biz uğurumuzla qürür
                    duyuruq, lakin uğuru qazanmaq üçün keçdiyimiz yoldan daha çox qürur duyuruq. Keyfiyyətə və
                    işçilərimizə qayğıya hədəflənərək inkişafa davam edirik. 2013-cü ildə ən yaxşı franşıza alan
                    tərəf, 2015-ci ildə Keyfiyyətə Nəzarət Mərkəzinin ən yaxşı mükafatlarına layiq görülmək
                    yaxşıdır, lakin ən önəmlisi etməli olduğumuz işlə “Ən yaxşı pizza təqdim etməklə”
                    müştəriləmiz tərəfindən qəbul edilməkdir.
                </p>
                <p>
                    Biz fəxr edirik ki, sevdiyimiz işlə - daha yaxşı pizza hazırlamaqla məsğul olaraq hörmət
                    qazanmışıq.
                </p>
            </div>
            <div class="tabs-panel" data-index="3">
                <h1>Çatdırılma</h1>
                <p>
                    Əziz dostlar, sizin diqqətinizə çatdırırıq:
                </p>
                <ol>
                    <li>
                        Biz sizin sifarişinizi pulsuz çatdırırıq.
                        Pizzanın çatdırılması praktiki olaraq gün boyunca– hər gün səhər saat 6-ya qədər,
                        fasiləsiz
                        və istirahət günləri olmadan həyata keçirilir.
                        Biz pizzanı bizim çatdırılma zonasından kənarda çatdırmırıq, çünki Papa John’s
                        standartlarına görə Sizə isti və təzə pizzanı çatdırmaq üçün restorandan son
                        istehlakçıya
                        kimi müvafiq məsafə limitini keçə bilmərik.
                        Sifarişin minimal məbləği – 10 AZN.
                        Ödəniş onlayn rejimində həm ödəniş kartı, həm də kuryerə nəğd pulla və ya ödəniş kartı
                        vasitəsi ilə həyata keçirilir.
                    </li>
                </ol>

                <p>
                    Siz aşağıdakı xəritə üzrə bizim çatdırılma zonası ilə tanış ola bilərsiniz.
                </p>
                <div style="width: 100%">
                    <iframe width="100%" height="600" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=papa%20johns+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        <a href="https://www.gps.ie/car-satnav-gps/">best sat navs</a>
                    </iframe>
                </div>
            </div>
            <div class="tabs-panel" data-index="4">
                <h1>Inqrediyentlər</h1>
                <img src="images/Xemir - 1378x400.jpg" alt="">
                <p>
                    Əgər sizin hazırladığınız xəmir keyfiyyətli deyilsə pizzanın üzərinə əlavə etdiyiniz
                    inqrediyentlərin yüksək keyfiyyəti bir anlam kəsb etməyəcək və siz sonda mükəmməl bir pizza
                    almayacaqsınız. Məhz buna görə də orijinal xəmir Papa John’s mətbəxində sıfırdan hazırlanır
                    və sonra şəhərin bütün restoranlarına təzə göndərilir və buna görə də Papa John`s-un yüksək
                    keyfiyyətli pizzasının resepti yetəri qədər sadədir-bu bizim uğurumuzun əsasıdır!

                    Xəmirimizi yalnız yüksək keyfiyyətli inqrediyentlərdən hazırlayırıq, buraya yüksək
                    keyfiyyətli zülal, ağardılmamış buğda unu, saflaşdırılmış su, maya, zeytun yağı və duz
                    daxildir. Hədəfimiz, 30 ol bundan qabaq Con Şnatterin arxa otaqda hazırladığı kimi, həm
                    orijinal və həm də yüksək keyfiyyətli xəmir hazırlamaqdır - sadə və hamar, sadəcə ləzzətli.

                    Orijinal xəmirimiz anbardan restoranlara təzə vəziyyətdə gətirilir. Bizim xüsusi, yüksək
                    zülallı, ağardılmamış buğda unu və saflaşdırılmış sudan hazırlanmış orijinal Papa John`s
                    pizza xəmiri unikal dad, çeynəmə asanlığı və xırçıltı balansına malikdir.
                </p>
                <h3>
                    İnqrediyentlərimiz
                </h3>
                <p>
                    Mükəmməl pizza hazırlamaq üçün nələr tələb olunur? Papa John`s olaraq biz bilirik ki,
                    mükəmməl pizza reseptinin böyük bir qismini insanlar, xidmətimiz, mükəmməl pizza hazırlığı
                    sahəsində təcrübə tutur.

                    Lakin bizim ləzzətli xəmirə əlavə eydiyimiz dadlı, təzə, təsəvvür edilməyəcək dərəcədə ləziz
                    inqrediyentlər də eyni dərəcədə əhəmiyyətlidir.
                </p>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem; ">
                                <img src="images/grilled-chicken.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Qril Toyuq
                                    </h5>
                                    <p class="card-text">
                                        Zəngin və kömür ətirli şirəli döş əti. Bizim bütün
                                        toyuq
                                        məhsullarımız halaldır, onların tərkibində süni dadlandırıcılar, boyalar
                                        və ya
                                        qoruyucu vasitələr yoxdur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/Italian-Beef-Sausage.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Mal əti
                                    </h5>
                                    <p class="card-text">
                                        Biz pizzalarımızda yalnız təbii, yüksək keyfiyyətli
                                        ətlərdən
                                        hazırlanır. Mal əti və italyan sosisləri halaldır, onlar təbii mal
                                        ətidir,
                                        tərkibində qatqı və ətirləndirici maddələrdən istifadə olunmamışdır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/pepperoni.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pepperoni</h5>
                                    <p class="card-text">
                                        100%-lik halal, doğranmış və xırçıldayacaq qədər
                                        mükəmməl
                                        hazırlanan pepperoni xəfif və acılı dada malikdir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/tomato.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Təzə pomidorlar
                                    </h5>
                                    <p class="card-text">
                                        Hər gün bizim mətbəximizdə şirəli təzə pomidorlar pizza
                                        mütəxəssislərimiz tərəfindən doğranılır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/greenpepper.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Yaşıl bibər
                                    </h5>
                                    <p class="card-text">
                                        İnanılmaz ətirli dada malik, şirəli yaşıl bibər
                                        dilimləri.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/mushroom.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Şampinyon göbələkləri
                                    </h5>
                                    <p class="card-text">
                                        Ağ papaqlı, möhkəm teksturalı, təzə göbəklər.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/black-olive.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Qara Zeytun
                                    </h5>
                                    <p class="card-text">
                                        Bizim zeytunlarımız yüksək keyfiyyətli və cəlbedici,
                                        Herrera
                                        meşələrindən toplanmış zeytunlardır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/Sweetcorn.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Qarğıdalı</h5>
                                    <p class="card-text">
                                        Biz yüksək keyfiyyətli, şirin və ətirli qarğıdalıdan
                                        istifadə
                                        edirik.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/jalapeno.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Halapenyo Bibəri
                                    </h5>
                                    <p class="card-text">
                                        100% təbii Halapenyo bibərləri təzə şəkildə dilimlərə
                                        doğranılır və
                                        sarıköklə bərabər ədviyyatlı duzlu suyu əlavə olunaraq qablaşdırılır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/Mozzarella.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Mozzarella
                                    </h5>
                                    <p class="card-text">
                                        Əgər siz pendir sevənsinizsə, siz bizim mozzarella
                                        pendirimizi də
                                        sevəcəksiniz. Bu Papa John`s-un eksklyuziv pendiridir, 100%-lik
                                        mozzarella yüksək
                                        keyfiyyətli südündən hazırlanır. Yüngül və zərifdir, ətirlidir, “pizzanı
                                        həqiqətən
                                        pendir yaradır” fikrini təsdiqləyir!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/feta-cheese.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Feta Pendiri
                                    </h5>
                                    <p class="card-text">
                                        Bu dadlı, duzlu, hissələrə ayrılan ağ pendir yunan
                                        bayramlarının
                                        xatirələrini oyadacaqdır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="images/Italian-Beef-Sausage.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Pizza sousu
                                    </h5>
                                    <p class="card-text">
                                        Bizim pomidorlarımız Mərkəzi Kaliforniya vadisinin
                                        zəngin,
                                        məhsuldar fermalarında diqqətlə yetişdirilir, səkkiz saat ərzində
                                        sahədən dərilərək
                                        təzə vəziyyətdə qablaşdırılır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tabs-panel" data-index="5">
                <h1>Tarix</h1>
                <img src="images/the-mexican.jpg" alt="">
                <p>
                    30 il ərzində İndianada tək restorandan başlamış, 48 ölkədə müştərilərə “Ən yaxşı” pizza
                    təklif edən 5000-dən artıq Papa John`s restoranına qədər inkişaf etmişdir. Fəaliyyətimizi
                    inkişaf etdirmək üçün hər zaman yeni ideyalar ifadə edərək irəliləməyə və inkişaf etməyə
                    çalışırıq.
                </p>
                <h3>
                    30 ildən artıq fəaliyyət....
                </h3>
                <ol>
                    <li>
                        1985 İlk Papa John`s restoranı Ceffersonvil, İndianada açılmışdır.
                        1986 -1992 Papa John`s ilk franşızanızı satmış və 100 restorana qədər inkişaf etmişdir.
                        1993-1999 Papa John`s-un hərracında səhmlərin ilk ictimai təqdimatı, sıçrayışlı inkişaf
                        dövrü.
                        2001 Onlayn sifarişin yaradılması
                        2006 Ginesin Dünya Rekordu və 7 illik müştəri məmnuniyyəti reytinqi.
                        2009 Papa John`s-un uzun illər itirilmiş Camaro-su tapılmışdır! bu maşını tapdığına görə
                        həmən şəxsə 250,000 USD mükafat verilmişdir.
                        2010 Papa John`s NFL-ın rəsmi Sponsoru olmuşdur.
                        2014 Biz 30 illiyimizi qeyd etmişik.
                        2020 Hazırki vəziyyətimiz:
                    </li>
                </ol>

                <p>
                    48 ölkədə və ərazidə 5000-dan çox restoran. 2014-cü ildə “Müştəri Məmnuniyyəti” üzrə bizi
                    yenə birinci etdiyinizə görə sizə, dəyərli müştərilərimizə təşəkkür edirik.
                </p>
                <p>
                    Hətta 30 il keçdikdən sonra bizi yenə birinci edən mükəmməlliyə can atmağımızdır. Biz
                    inqrediyentlərinə sərmayəni davam etdirir və qayəmizi açıq-aydın bəyan edirik - Daha yaxşı
                    inqrediyentlər. Daha yaxşı pizza.
                </p>
            </div>
            <div class="tabs-panel" data-index="6">
                <h1>
                    Papa Talk - Qayda və Şərtlər
                </h1>
                <h4>
                    Fikir bildir, 'Bir İllik Pizza' qazan.
                </h4>
                <ol>
                    <li>
                        Sorğuya qoşulmaqla, iştirakçılar burada göstərilən və Papa John’s Pizza Azerbaijan-ın
                        hər
                        hansı digər tələbləri ilə tanış olduqlarını, qəbul etdiklərini və razılaşdıqlarını
                        təstiq
                        edirlər.
                    </li>
                    <li>
                        Sorğuda iştirak edərkən iştirakçının suallara verdiyi cavablar yarışmanın nəticəsinə və
                        iştirakçının qalib seçilib seçilməməyinə təsir etmir. Sorğunun suallarına müsbət və ya
                        mənfi
                        olmağından aslı olmayaraq, real fikirlər əks etdirən cavabların verilməsi mütləqdir.
                    </li>
                    <li>
                        Yarışmada iştirak etmək üçün sifarişi verdikdən sonra, müştəri məmnuniyyəti sorğusunu
                        doldurmaq kifayətdir. Sorğudan keçmək üçün pizza qutusunun və ya sifariş qəbzinin
                        üzərində
                        Papa Talk QR kodunu skan edin və sifariş qəbzinin üzərindəki restoran nömrəsini daxil
                        edin
                        və sorğunun suallarına cavab verin.
                    </li>
                    <li>
                        Hər bir iştirakçı yalnız 30 gün fasilədən sonra yarışmaya yenidən qatıla bilər.
                    </li>
                    <li>
                        Hər ayın sonunda təsadüfi kompüter seçimi nəticəsində yalnız bir seçiləcəkdir.
                    </li>
                    <li>
                        Hər qazanan iştirakçı üçün mükafat - ayda bir böyük pizza hədiyyə qazandıran, on iki tək
                        pizza hədiyyə kodundan ibarətdir.
                    </li>
                    <li>
                        Hədiyyə pizzanı istənilən restoranımıza yaxınlaşıb promo kodu təqdim etməklə əldə edə
                        bilərsiniz.
                    </li>
                    <li>
                        Hədiyyə kodlarının hər biri yalnız bir ay müddətində etibarlı olacaqdır. 12 promo
                        kodların
                        hər biri, qalibin mükafatı aldığını təsdiqlədikdən sonra 7 gün ərzində qalibə təqdim
                        ediləcək. Hər ay yalnız bir pulsuz böyük pizza əldə etmək şərtilə, 12 ay ardıcıl olaraq,
                        ümumi 12 pizzadan zövq ala bilərsiz.
                    </li>
                    <li>
                        Promokodların təqdim olunduğu zamandan etibarən 14 gün ərzində qalib ilk ayın
                        promokodunu
                        istifadə etməzsə, Papa John’s Pizza yenidən qalib seçəcəkdir.
                    </li>
                    <li>
                        Göstərilən mükafatın nağd pul və ya başqa alternativi yoxdur. Mükafat nağd pul şəkilində
                        geri qaytarıla və köçürülə bilməz.
                    </li>
                    <li>
                        Aksiyada iştirak zamanı çəkilən hər hansı bir xərc iştirakçının məsuliyyətidir.
                    </li>
                    <li>
                        Papa John’s Pizza, öz mülahizəsinə görə, aktivliyin fəaliyyətinə xələl gətirən və ya bu
                        şərtlərə zidd hesab olunan hər hansı bir şəkildə hərəkət etmək istəyən şəxsin yarışmada
                        daha
                        sonra iştirak etmək imkanından məhrum etmək hüququnu özündə saxlayır.
                    </li>
                    <li>
                        Bu yarışma istənilən vaxt, əvvəlcədən xəbərdarlıq olmadan ləğv edilə və ya dəyişdirilə
                        bilər.
                    </li>
                    <li>
                        İştirakçıya məxsus hər bir şəxsi məlumat Azərbaycan məlumat qorunması qanunvericiliyinə
                        uyğun olaraq işlənəcəkdir. Əlavə məlumat üçün sorğunu təşkil edən şirkət ilə əlaqə
                        saxlayın.
                        Əlavə məlumat üçün məxfilik siyasətimizə baxın.
                    </li>
                </ol>
            </div>
        </div>
    </div>

</section>