@model Papadias


<div class="image">
    <img src="~/images/1e07a33e1efba4cd5debe2d875439618.png" alt="">
</div>
<div class="modal-body">
    <h2>Papadias </h2>
</div>
<div class="controls">
    <div class="price">7 ₼ </div>
</div>