@model SnackVM

<section class="pizza">
    <div class="container">
        <div class="row">
            @foreach (Snack snack in Model.Snacks)
            {
                <div class="col-lg-3">
                    <img src="~/images/@snack.Image" alt="">
                    <h1>
                        @snack.Title
                    </h1>
                    <p>
                        @snack.Desc
                    </p>
                    <a asp-controller="Snack" asp-action="GetDetails" asp-route-Id="@snack.Id" id="choose" class="btn btn-success openModal">
                        Bunu Seç
                    </a>
                </div>

            }
        </div>
    </div>
</section>

<div class="modal-container">

</div>