@model CampaignDetailVM

<section>
    <div class="container">
        <div class="row">
            @foreach (Classic classic in Model.Classics)
            {
                <div class="col-lg-5">
                    <img src="~/images/@classic.Image" alt="">
                </div>
                <div class="col-lg-7">
                    <h1>
                        @classic.Title
                    </h1>
                    <p>
                        @classic.Desc
                    </p>

                    <a class="fb-xfbml-parse-ignore" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https://www.papajohns.az/az/stocks/stocks/description?slug=birthday-discount.&amp;src=sdkpreparse">Paylaş</a>
                </div>
            }

        </div>
    </div>
</section>