@model PizzaVM

<section class="pizza">
    <div class="container">
        <div class="row">
            @foreach (Pizza pizza in Model.Pizzas)
            {
                <div class="col-lg-3">
                    <img src="~/images/@pizza.Image" alt="">
                    <h1>
                        @pizza.Title
                    </h1>
                    <p>
                        @pizza.Desc
                    </p>
                    <a asp-controller="Pizza" asp-action="GetDetails" asp-route-Id="@pizza.Id" id="choose" class="btn btn-success openModal">
                        Bunu Seç
                    </a>
                </div>

            }
        </div>
    </div>
</section>

<div class="modal-container">

</div>